# Configuration (Environment Variables) v1
.env
.env.*
!.env.example
!.env.*.example
env
*.env
.*.env
!example.env
!*.example.env
!.*.example.env

# Git
.git/

# Compiled Python Files
__pycache__/
*.py[cod]
*$py.class

# Python Distribution & Packaging
*.egg-info/
/build/
/dist/

# Mypy
.mypy_cache/

# Python Virtual Environment
/.pyenv/
/pyenv/

# Cache
.cache/

# Logs
*.log

# Sublime Text
*.sublime-workspace

# Visual Studio Code
.vscode/*
*.code-workspace

# Visual Studio Code - Local History
.history/

# PyCharm / IntelliJ IDEA
.idea/

# Temporary Files
/tmp/*

# Keep
!.keep
