# Python Source distribution Manifest
#
# Note: Setuptools will use this file if the option 'include_package_data' is enabled.
#
# Documentation:
# - https://packaging.python.org/guides/using-manifest-in/
# - https://setuptools.readthedocs.io/en/latest/userguide/datafiles.html

recursive-include src/cordada *.css
recursive-include src/cordada *.js
recursive-include src/cordada *.map
recursive-include src/cordada *.py
